@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
@import './variables/_variables';
@import './mixins/_mixins';

body {
	@include flexbox(center, center, column);
	margin: 0;
	min-height: 100vh;
	font-family: $font, sans-serif;
}
header {
	@include flexbox(center, center, column);
	height: auto;
	max-width: 540px;
	padding: 40px;

	.header-title {
		@include font($weight-200, $size-24);
		text-align: center;
		width: 100%;
		margin: 20px 0px 0px 0px;
		color: $Grey-light;
	}
	h1 {
		@include font($weight-600, $size-24);
		text-align: center;
		margin: 0;
		color: $Grey-dark;
	}
	.description {
		@include font($weight-400, $size-14);
		margin: 20px 0px 0px 0px;
		text-align: center;
		color: $Grey-dark;
	}
}
.container {
	@include flexbox(center, center, column);
	gap: 40px;
	padding-top: 25px;
	padding-bottom: 50px;
}

.card {
	@include flexbox(start, flex-start, column);
	border-radius: 8px;
	position: relative;
	width: 285px;
	height: 240px;
	box-sizing: border-box;
	padding: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	h2 {
		@include font($weight-600, $size-18);
		margin: 0 0 6px 0;
		color: $Grey-dark;
	}

	.card-description {
		@include font($weight-400, $size-12);
		margin: 0;
		color: $Grey-dark;
	}

	img {
		align-self: flex-end;
		margin-top: 30px;
		width: 64px;
		height: 64px;
	}
}

.sub-container-left {
	@include flexbox(center, end, unset);

	.card::before {
		@include border($Cyan);
	}
}
.sub-container-middle {
	@include flexbox(center, center, column);
	gap: 40px;

	.top::before {
		@include border($Red);
	}
	.bottom::before {
		@include border($Orange);
	}
}
.sub-container-right {
	@include flexbox(center, start, unset);

	.card::before {
		@include border($Blue);
	}
}


@media (min-width: 660px) {
	header {
		max-width: 470px;

		.header-title {
			@include font($weight-200, $size-34);
		}
		h1 {
			@include font($weight-600, $size-34);
		}
		.description {
			@include font($weight-400, $size-14);
			margin: 20px 0px 0px 0px;
		}
	}

	.container {
		@include grid(repeat(2, 1fr), repeat(2, auto));
		gap: 20px;
	}
  
	.sub-container-left {
	  grid-column: 1 / 2;
	  grid-row: 1 / 2;
	}
  
	.sub-container-middle {
	  display: contents;
	}
  
	.sub-container-middle .top {
	  grid-column: 2 / 3;
	  grid-row: 1 / 2;
	}
  
	.sub-container-middle .bottom {
	  grid-column: 1 / 2;
	  grid-row: 2 / 3;
	}
  
	.sub-container-right {
	  grid-column: 2 / 3;
	  grid-row: 2 / 3;
	}

	.card {
		width: 320px;
		height: 240px;
		padding: 30px;
	}
}

@media(min-width: 1050px) {
	.container {
		@include flexbox(center, center, row);
		gap: 40px;
	}
	.sub-container-left {
		@include flexbox(center, end, unset);
	}
	.sub-container-middle {
		@include flexbox(center, center, column);
		gap: 40px;
	}
	.sub-container-right {
		@include flexbox(center, start, unset);
	}
}
